<div class="formCadastro">
    <h1>Entre na sua Conta</h1>
    <form [formGroup]="formsCadastro" autenticaForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <small
          *ngIf="
            !formsCadastro.get('email')?.valid &&
            formsCadastro.get('email')?.touched
          "
          >*Email inválido</small
        >
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input
          type="password"
          class="form-control"
          id="senha"
          formControlName="password"
        />
        <small
          *ngIf="
            !formsCadastro.get('password')?.valid &&
            formsCadastro.get('password')?.touched
          "
          >*Senha precisa ter no mínimo 6 caracteres</small
        >
      </div>
      <button type="submit" class="btn btn-primary">
        login
      </button>
    </form>
    <span class="rotaLogin"
      >Não possui conta? <a routerLink="/cadastro">Cadastre-se aqui</a></span
    >
  </div>
  