<div class="menuContainer">
  <div class="max-width menu">
    <div class="logo">
      <a href="/">PIGGY<small>®</small></a>
    </div>
    <div class="links">
      <a href="#suino">Suino +</a>
      <a href="#">Minha produção</a>
      <a href="#">Grafico</a>
      <a href="#">Histórico do peso</a>
    </div>
  </div>
</div>
<div class="containerDasboard">
  <div class="secao suinoplus max-width">
    <p id="suino" class="topico">Suino+</p>
    <div class="item">
      <app-cadastro-suino />
    </div>
  </div>

  <div class="secao secaoProducao">
    <div class="minhaProducao max-width">
      <p class="topico">Minha produção</p>
      <div class="item">
        <div class="filtros">
          <span>Animal</span>
          <span (click)="orderBy(1)">Tag Pai</span>
          <span>Tag Mãe</span>
          <span>Nasc.</span>
          <span>sexo</span>
          <span>Status</span>
          <span>Saida</span>
        </div>
        <!-- <app-minha-producao /> -->
      </div>
    </div>
  </div>
  <div class="secao grafico">
    <div class="acompanhamento max-width">
      <p class="topico">Acompanhamento</p>

      <label for="busca" class="busca">
        <input type="text" id="busca" placeholder="informe o brinco do animal"/>
        <img src="./assets/icons/search.png" alt="" />
      </label>

      <div class="results">
        <div class="item desenho">
          <app-grafico />
        </div>
        <div class="item peso">
          <app-historico-peso />
        </div>
      </div>
    </div>
  </div>
  <div class="secao historicoPeso"></div>
</div>
<footer>
  <p>
    Desenvolvido por:
    <a href="https://www.linkedin.com/in/beatriz-pereira-81467317b/">Beatriz</a>
    e <a href="#">Alberto</a>
  </p>
</footer>
