<div class="containerCadastro">
    <div class="containerBanner">
      <div class="banner">
        <div class="square1">
          <img src="../assets/img/fire.png" alt="" />
        </div>
        <div class="square2">
          <img src="../assets/img/porco.png" alt="" />
        </div>
  
        <div class="square3">
          <img src="../assets/img/bacon.png" alt="" />
        </div>
        <div class="square4">
          <img src="../assets/img/garfo.png" alt="" />
        </div>
      </div>
      <div class="slogan">
          <div class="marca">
              <h1>PIGGY<small>®</small></h1>
              <span>Maximizando sua Produção de Suínos</span>
          </div>
          <div class="benefits">
              <p>Visão abrangente da sua criação.</p>
              <p>Otimize suas operações com informações detalhadas sobre cada animal.</p>
          </div>
      </div>
    </div>
    <router-outlet style="display: none;"/>
  </div>
  